[Desktop Entry]
Type=Application
Name=Pomodoro Timer
Comment=Sticky note pomodoro timer
Exec=/usr/bin/python3 "./pomodoro-sticky.py"
Terminal=false
Categories=Utility;Clock;
Icon=alarm-clock
